# 1.) Importing libraries

In [5]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [6]:
path = r"C:\Users\andyc\Achievement 4 Project"

In [7]:
customer = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [8]:
customer

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

In [9]:
customer.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

# 4.)

### Checking for mixted-type data in the customer dataframe.

In [12]:
for col in customer.columns.tolist():
  weird = (customer[[col]].map(type) != customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customer[weird]) > 0:
    print (col)

First Name

There is mixed-type data in the First Name column in the customer dataframe.

In [14]:
customer.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

The datatype for First Name is a string(object). The mixed type data may because there was missing values.

### Renaming columns.

In [17]:
#renaming the Surnam column name
customer.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [18]:
#renaming the First Name column name
customer.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [19]:
#renaming the Gender column name
customer.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [20]:
#renaming the STATE column name
customer.rename(columns = {'STATE' : 'state'}, inplace = True)

In [21]:
#renaming the Age column name
customer.rename(columns = {'Age' : 'age'}, inplace = True)

In [22]:
#renaming the n_dependents column name
customer.rename(columns = {'n_dependants' : 'number_of_dependents'}, inplace = True)

In [23]:
#renaming the fam_status column name
customer.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

# 5.)

### Checking for missing values.

In [26]:
#finding missing values 
customer.isnull().sum()

user_id                     0
first_name              11259
surname                     0
gender                      0
state                       0
age                         0
date_joined                 0
number_of_dependents        0
marital_status              0
income                      0
dtype: int64

There are missing values in the first name column. We will not be the first_name column because there are other ways to distinguish between customers such as user_id.

In [28]:
#creating a new dataframe that shows non missing values
customer_clean = customer[customer['first_name'].isnull() == False]

In [29]:
customer_clean.shape

(194950, 10)

### Checking for duplicates.

In [31]:
#looks for full duplicates in your dataframe
customer_dups = customer[customer.duplicated()]

In [32]:
customer_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_of_dependents, marital_status, income]
Index: []

There are no duplicates present in our dataframe.

In [34]:
customer

,user_id,first_name,surname,gender,state,age,date_joined,number_of_dependents,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

# 6.) Combining the dataframes.

In [36]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [37]:
ords_prods_merge.shape

(32405122, 31)

In [38]:
#checking the dataframe's columns
ords_prods_merge.columns

Index(['Unnamed: 0_x', 'product_id', 'product_name', 'aisle_id',
       'department_id', 'prices', 'Unnamed: 0.1', 'Unnamed: 0_y', 'order_id',
       'user_id', 'order_number', 'order_day_of_week', 'order_hour_of_day',
       'days_since_prior_order', 'add_to_cart_order', 'reordered', 'merge_',
       'price_range_loc', 'busiest_day', 'busiest_days', 'Slowest days',
       'Busiest_days', 'Slowest_days', 'busiest_period_of_day', 'Busy_days',
       'max_order', 'loyalty_flag', 'average_spending', 'spending_flag',
       'order_regularity', 'order_frequency_flag'],
      dtype='object')

In [39]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,Busiest_days,Slowest_days,busiest_period_of_day,Busy_days,max_order,loyalty_flag,average_spending,spending_flag,order_regularity,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Regularly busy,Regularly busy,Most orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Regularly busy,Regularly busy,Average orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Busiest days,Busiest days,Average orders,Busiest days,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Slowest days,Slowest days,Most orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Slowest days,Slowest days,Average orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer

In [40]:
# dropping unnecessary columns from the dataframe
ords_prods_merge = ords_prods_merge.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0.1', 'Unnamed: 0_y', 'merge_'])

In [41]:
#checking the dataframe's columns after dropping unnecessary columns
ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', 'price_range_loc', 'busiest_day', 'busiest_days',
       'Slowest days', 'Busiest_days', 'Slowest_days', 'busiest_period_of_day',
       'Busy_days', 'max_order', 'loyalty_flag', 'average_spending',
       'spending_flag', 'order_regularity', 'order_frequency_flag'],
      dtype='object')

In [42]:
#outer join
#When performing an outer merge, it takes results from both dataframes, whether or not they match on the key column.
customer_left = ords_prods_merge.merge(customer, on = 'user_id', how = 'left', indicator = True)

In [43]:
customer_left.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,...,first_name,surname,gender,state,age,date_joined,number_of_dependents,marital_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both

Above are the results for the left merge.

In [45]:
#Using the value_counts() function lets you quickly sum up all the values in the “_merge” column, letting you see instantly whether you have a full match or not.
customer_left['_merge'].value_counts()

_merge
both          32405122
left_only            0
right_only           0
Name: count, dtype: int64

Above are the results for the value counts of the outer merge. We can see that there are both values in the both and left_only.

In [47]:
#inner merge
customer_inner = customer.merge(ords_prods_merge, on = 'user_id', indicator = 'merge_c')

In [48]:
#Using the value_counts() function lets you quickly sum up all the values in the “_merge” column, letting you see instantly whether you have a full match or not.
customer_inner['merge_c'].value_counts()

merge_c
both          32405122
left_only            0
right_only           0
Name: count, dtype: int64

Comparing the left join and inner join, we can see that the Both columns in both joins have the exact same value. This indicates that for every order, we have the customer information to match it. In other words, we aren't missing customer information for any of our orders.

# 8.) Exporting as a pickle file.

In [51]:
#exporting dataframe as a pickle file
customer_inner.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'customer_merge.pkl'))