# 01. Importing libraries

### 1).

In [3]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r"C:\Users\andyc\Achievement 4 Project"

In [5]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [6]:
#creating a subset for a million rows
df = ords_prods_merge[:1000000]

In [7]:
#checking the rows and columns
df.shape

(1000000, 31)

In [8]:
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,Busiest_days,Slowest_days,busiest_period_of_day,Busy_days,max_order,loyalty_flag,average_spending,spending_flag,order_regularity,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Regularly busy,Regularly busy,Most orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Regularly busy,Regularly busy,Average orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Busiest days,Busiest days,Average orders,Busiest days,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Slowest days,Slowest days,Most orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Slowest days,Slowest days,Average orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,Busiest days,Busiest days,Average orders,Busiest days,26,Regular customer,6.935398,Low Spender,11.0,Regular customer
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,Regularly busy,Regularly busy,Most orders,Regularly busy,9,New customer,5.957576,Low Spender,20.0,Regular customer
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,Slowest days,Slowest days,Most orders,Slowest days,12,Regular customer,6.680000,Low Spender,6.0,Frequent customer
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,Busiest days,Busiest days,Average orders,Busiest days,20,Regular customer,7.162500,Low Spender,10.0,Frequent customer
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,Busiest days,Busiest days,Most orders,Busiest days,20,Regular customer,7.162500,Low Spender,10.0,Frequent customer

In [9]:
#applying the agg() function to each group to obtain the mean values for the “order_number” column (one million rows)
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

### 2.)

In [11]:
#applying the agg() function to each group to obtain the mean values for the “order_number” column
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170954
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### 3.)

The results above show the aggregated mean of the “order_number” column grouped by “department_id” for a subset of the dataframe and the enitre dataframe. We can see that there is a slight and minor difference in the mean when we compare the two.

### 4.)

In [15]:
#creating the max_order column while splitting the data based on the user id column and transforming the order_number column for maximum orders for each user
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\andyc\AppData\Local\Temp\ipykernel_10840\2838564972.py:2: FutureWarning: The provided callable <function max at 0x000001F6513A9F80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [16]:
#checking for the new column
ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,Busiest_days,Slowest_days,busiest_period_of_day,Busy_days,max_order,loyalty_flag,average_spending,spending_flag,order_regularity,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Regularly busy,Regularly busy,Most orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Regularly busy,Regularly busy,Average orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Busiest days,Busiest days,Average orders,Busiest days,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Slowest days,Slowest days,Most orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Slowest days,Slowest days,Average orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,Busiest days,Busiest days,Average orders,Busiest days,26,Regular customer,6.935398,Low Spender,11.0,Regular customer
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,Regularly busy,Regularly busy,Most orders,Regularly busy,9,New customer,5.957576,Low Spender,20.0,Regular customer
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,Slowest days,Slowest days,Most orders,Slowest days,12,Regular customer,6.680000,Low Spender,6.0,Frequent customer
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,Busiest days,Busiest days,Average orders,Busiest days,20,Regular customer,7.162500,Low Spender,10.0,Frequent customer
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,Busiest days,Busiest days,Most orders,Busiest days,20,Regular customer,7.162500,Low Spender,10.0,Frequent customer
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,Regularly busy,Regularly busy,Most orders,Regularly busy,10,New customer,5.813636,Low Spender,20.0,Regular customer
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,Slowest days,Slowest days,Most orders,Slowest days,43,Loyal customer,5.081633,Low Spender,7.0,Frequent customer
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,Slowest days,Slowest days,Most orders,Slowest days,43,Loyal customer,5.081633,Low Spender,7.0,Frequent customer
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,Regularly busy,Regularly busy,Most orders,Regularly busy,43,Loyal customer,5.081633,Low Spender,7.0,Frequent customer
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,Slowest days,Slowest days,Most orders,Slowest days,13,Regular customer,6.803797,Low Spender,7.0,Frequent customer

### 5.)

In [18]:
#create a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876918
Loyal customer      10284183
New customer         6244021
Name: count, dtype: int64

Basic Statistics of each category.

In [23]:
#using groupby for 'loyalty_flag' and aggregating 'prices' aggregate functions mean min max
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.772963  1.0  25.0
New customer      7.800353  1.0  25.0
Regular customer  7.797485  1.0  25.0

We can see that the highest mean belongs to the new customers, the lowest mean belongs to the loyal customer, and the regular customers are in between. We can conclude that there is a slight difference in whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers. New customers pay a little more than regular customers. Regular customers pay a little more than loyal customers.

### 6.)

In [26]:
#creating the average_spending column while splitting the data based on the user id column and transforming the prices column for average orders for each user
ords_prods_merge['average_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\andyc\AppData\Local\Temp\ipykernel_10840\2499212267.py:2: FutureWarning: The provided callable <function mean at 0x000001F6513AA980> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [27]:
#checking for the new column
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,Busiest_days,Slowest_days,busiest_period_of_day,Busy_days,max_order,loyalty_flag,average_spending,spending_flag,order_regularity,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Regularly busy,Regularly busy,Most orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Regularly busy,Regularly busy,Average orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Busiest days,Busiest days,Average orders,Busiest days,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Slowest days,Slowest days,Most orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Slowest days,Slowest days,Average orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer

In [28]:
#create a flag that assigns a “spending” label to a user ID based on its corresponding average price value
ords_prods_merge.loc[ords_prods_merge['average_spending'] < 10, 'spending_flag'] = 'Low Spender'

In [29]:
ords_prods_merge.loc[ords_prods_merge['average_spending'] >= 10, 'spending_flag'] = 'High Spender'

In [30]:
#checking the freqency of customers in the 'spending_flag' column
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low Spender     32285428
High Spender      119694
Name: count, dtype: int64

There are a majority of low spenders compared to high spenders.

### 7.)

In [33]:
#creating the order frequency column while splitting the data based on the user id column and transforming the 'days_since_prior_order' column for median orders for each user
ords_prods_merge['order_regularity'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\andyc\AppData\Local\Temp\ipykernel_10840\2189952646.py:2: FutureWarning: The provided callable <function median at 0x000001F6515656C0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['order_regularity'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [34]:
#checking for the new column
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,Busiest_days,Slowest_days,busiest_period_of_day,Busy_days,max_order,loyalty_flag,average_spending,spending_flag,order_regularity,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Regularly busy,Regularly busy,Most orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Regularly busy,Regularly busy,Average orders,Regularly busy,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Busiest days,Busiest days,Average orders,Busiest days,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Slowest days,Slowest days,Most orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Slowest days,Slowest days,Average orders,Slowest days,3,New customer,4.972414,Low Spender,9.0,Frequent customer

In [35]:
#create a flag that assigns a “order_frequency” label to a user ID based on its corresponding median 'days_since_prior_order' value
ords_prods_merge.loc[ords_prods_merge['order_regularity'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [36]:
ords_prods_merge.loc[(ords_prods_merge['order_regularity'] > 10) & (ords_prods_merge['order_regularity'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [37]:
ords_prods_merge.loc[ords_prods_merge['order_regularity'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [38]:
#checking the freqency of customers in the 'order_frequency_flag' column
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21560060
Regular customer          7208595
Non-frequent customer     3636462
NaN                             5
Name: count, dtype: int64

There are a majority of frequent customers than regular customers. There are more regular customers than non-frequent customers.

### 8.)

In [41]:
#exporting dataframe as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'new_ords_prods_merge.pkl'))